* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    color: aliceblue;
}

/* -------------------------------------
General styles */

body {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 16px;
    position: relative;
    background-size: cover;
    background-color: black;
}

h1 {
    margin: 5px;
    padding: 5px;
    line-height: 1.2em;
}

h2 {
    padding-left: 5px;
    height: 90px;
    overflow: hidden;
}

input {
    color: black;
}

input::placeholder {
    color: #eeee;
}

.greyText::placeholder {
    color: grey;
}

input[type='checkbox'],
input[type='radio'] {
    margin-left: 2rem;
    margin-right: 0.1rem !important;
}

.sideBar {
    grid-column: 1;
    grid-row: 2 / 3;
    background-color: #81c784;
    z-index: 1;
}


.dice-icon {
    padding-top: 10px;
}

.page-wrapper {
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------
Header styles
*/
.hero-image {
    width: 100%;
    margin: 0;
    display: block;
    background: url("/images/hero-image.jpg") no-repeat center center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    text-align: center;
}

#login-form-section,
#sign-up-form,
#landing-page-info {
    padding: 10px;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 4%;
    max-width: 400px;
    display: inline-block;
    vertical-align: middle;
    background: url("images/transparent.jpg") no-repeat;
    background-size: cover;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.details {
    width: 100%;
    margin: 0;
    display: block;
    /*    background: url('./images/landing-background.jpg') no-repeat center center;
    */
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    text-align: center;
}

#build,
#store,
#rollDice {
    padding: 10px;
    width: 31%;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    background: url("images/transparent.jpg") no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* -------------------------------------
Content styles
*/

.legend {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2rem auto;
}

.name-legend {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2rem auto;
    font-size: 25px;
}

.app-summary {
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: auto;

}

.form-wrapper {
    display: table-cell;
    width: 33.33%;
    margin: 2rem auto;
    float: left;
    /*    overflow-y: scroll;*/
}

.form-wrapper .input-wrapper {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: black;
}

.form-wrapper fieldset,
.character-wrapper,
.dice-wrapper {
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    background: url("images/transparent.jpg") no-repeat;
    background-size: cover;
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
}

.form-wrapper fieldset label,
.form-wrapper fieldset input,
.form-wrapper fieldset select {
    display: inline-block;
    width: 30%;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: grey;
}

.form-wrapper fieldset input,
.form-wrapper fieldset select {
    width: 69%;
    border: 1px solid gray;
}

.form-wrapper fieldset input.sideBySide,
.form-wrapper fieldset select.sideBySide {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
    margin-top: 1rem;
}

option {
    color: black;
}

.dice-wrapper,
.character-wrapper {
    padding: 10px;
    width: 93%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    /*    border: solid 1px red;
    */
    max-height: 430px;

}

.character-name {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    color: grey;
}

.radioCheck {
    display: block;
    margin-bottom: 10px;
}

.form-wrapper fieldset .icons-wrapper {
    display: block;
    width: 100%;
    margin: 1rem;
}

.form-wrapper fieldset .icons-wrapper .icon-content {
    display: block;
    width: 100%;
    margin: 0.5rem;
    font-size: 1rem;
    color: grey;
}

.form-wrapper fieldset .icons-wrapper .icon-content i,
.form-wrapper fieldset .icons-wrapper .icon-content span {
    display: inline-block;
    width: auto;
    max-width: 90%;
    vertical-align: middle;
}

.form-wrapper fieldset .icons-wrapper .icon-content .fa-times {
    width: 20px;
    font-size: 2rem;
    color: red;
}

.form-wrapper fieldset .icons-wrapper .icon-content .fa-info {
    color: green;
    width: 20px;
    font-size: 2rem;
}

.form-wrapper fieldset .icons-wrapper .icon-content span {
    margin-left: 1rem;
}

.authentication-box {
    margin: 2rem auto;
    padding: 0px 0px 70px 0px;
    display: block;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

.loginUsername,
.loginPassword,
.registerUsername,
.registerPassword,
.registerEmail {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
    color: black;
}

.button,
.submit-button {
    background: #462ecc;
    padding: 2% 4%;
    color: white !important;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 20px;
    margin-bottom: 0px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: block;
    font-family: Arial, sans-serif;
}

button:hover {
    color: #ffffff !important;
    /*    background: #f6b93b;*/
    border-color: white !important;
    transition: all 0.4s ease 0s;
}

.character-name-button {
    font-family: inherit;
    color: moccasin;
    background-color: black;
    padding: 2% 4%;
}

#form-submit-button,
#form-delete-button {
    height: 47px;
    width: 20%;
    min-width: 50px;

}

#form-submit-button {
    float: left;
}

#form-delete-button {
    float: right;

}

.dice-value {
    vertical-align: middle;
}

.dice-button {
    background-color: transparent;
    vertical-align: middle;

}

.dice-image {
    width: 100%;
    max-width: 50px;
}

.dice-button:hover .dice-image {
    width: 120%;
    max-width: 55px;
}

.loginRegister {
    padding-bottom: 20px;
    padding-top: 20px;
}

.button:hover,
.submit-button:hover {
    color: white;
}

.bottom-content > div {
    width: 49%;
    display: inline-block;
    vertical-align: top;

}

#full-form {
    background: url("/images/fighting-image-background.jpg") no-repeat center center;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    text-align: center;
}

.create-styling,
.store-styling,
.roll-styling {
    display: block;
    height: 70px;
}

/*Footer styles*/

.footer-wrapper {
    display: inline-block !important;
}

.footer-icon {
    text-decoration: none;
}

i {
    padding: 10px;
}

.hidden {
    display: none !important;
}

/* -------------------------------------
Responsive styles
*/
input[type="date"] {
    display: block;

    /* Solution 1 */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;

    /* Solution 2 */
    /* min-width: 96%; */
}

/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: blue;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }

    .form-wrapper {
        display: block;
        width: 100%;
        float: none;
    }

    .bottom-content > div {
        width: 100%;
        display: block;
    }

    #build,
    #store,
    #rollDice {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #login-form-section,
    #sign-up-form,
    #landing-page-info {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}
